#option-container {
    /* coloring */
    background-color: var(--bg-primary);
    color: var(--text-secondary);

    width: 100%;

    border-bottom: solid 2px var(--text-primary);
}

.active-lesson {
    background-color: var(--accent-primary);
    color: var(--text-primary);
}

.lessons-open {
    max-height: 20vh !important;
}

#lessons-container {
    max-height: 0vh;
    overflow-y: scroll;
    /* get rid of scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    transition: max-height 0.1s linear;
}
#lessons-container > * {
    padding: 5px;
}
#lessons-container::-webkit-scrollbar {
    display: none;
}

.options-title {
    display: flex;
    justify-content: start;
    color: var(--text-primary);
    padding: 10px;
}

.title-text {
    padding-left: 10px;
}

.title-bars {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 768px) {
    #option-container {
        grid-area: opt;
        border: solid var(--text-primary) 2px;
        border-radius: 0.75rem;
        height: fit-content;
    }
    #lessons-container {
        max-height: 100%;
    }

    .title-bars {
        display: none;
    }

    .title-text {
        padding: 0;
    }
    .options-title {
        border-bottom: solid 1px var(--text-primary);
    }
}
