#lesson-area {
    width: 80%;
    padding: 10px;
    background-color: var(--bg-primary);

    display: grid;
    grid-template:
        "header" auto
        "typing-area" 1fr
        "foot" auto;
    color: var(--text-primary);

    border: 2px solid var(--text-primary);
    border-radius: 0.75rem;
}

.title {
    grid-area: header;
    padding: 0px 0px 3px 0px;
}

#typing-container {
    grid-area: typing-area;
    padding: 7px;
    background-color: var(--bg-primary);
    font-size: 18px;
    border: 2px solid var(--text-primary);
    letter-spacing: 2px;
    border-bottom: none;
}

.bottom-button {
    grid-area: foot;
    background-color: var(--accent-primary);
    border-top: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 0 0 0.75rem 0.75rem;
    border: solid 1px var(--text-primary);
}

.wrong-keydown {
    background-color: var(--red) !important;
}

.wrong-keydown > * {
    background-color: var(--red) !important;
}

.typing-content {
    display: inline;
}

.typed {
    filter: brightness(80%);
    background-color: var(--green);
}

.stats {
    grid-area: typing-area;
    background-color: var(--bg-primary);
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid 1px var(--text-primary);
    font-size: small;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 768px) {
    #lesson-area {
        grid-area: lesson;
        margin: auto;
    }
}
