@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Space+Grotesk:wght@300&display=swap');

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	font-family: 'Chivo Mono', monospace;
}
